In [3]:
l = [1,23,4,1,23,42]

In [4]:
for i in l:
    print(i)

1
23
4
1
23
42

In [5]:
next(l)

TypeError: 'list' object is not an iterator

In [ ]:
 b = iter(l)

In [ ]:
next(b)

In [ ]:
next(b)

In [ ]:
next(b)

In [ ]:
 next(b)

In [ ]:
next(b)

In [ ]:
next(b)

In [ ]:
next(b)

In [ ]:
next(45)

In [ ]:
iter(54)

In [ ]:
n = "harhs"

In [ ]:
c = iter(n)

In [ ]:
next(c)

In [ ]:
next(c)

In [ ]:
next(c)

In [ ]:
for i in n:
    print(i)

In [ ]:
t = (12,34,1,"harsh")

In [ ]:
t = iter(t)

In [ ]:
next(t)

In [ ]:
next(t)

In [ ]:
next(t)

In [ ]:
next(t)

In [ ]:
di = {"key1":"Name1", 21 : "age"}

In [ ]:
dc = iter(di)

In [ ]:
next(dc)

In [ ]:
next(dc)

In [ ]:
a = list(range(0,11))

In [ ]:
a

In [ ]:
def test1(n) :
    a = list(range(0,n))
    for i in a:
        print(i*i)

In [ ]:
test1(15)

In [ ]:
def sqtest(n):
    x = [i*i for i in range(1,n)]
    return x

In [ ]:
sqtest(11)

In [ ]:
 def sqtest1(n):
    x = [i*i for i in range(0,n)]
    yield x

In [ ]:
sqtest1(5)

In [ ]:
for i in sqtest1(4):
    print(i)

In [ ]:
def rangefun(n):
    x = [i*i for i in range(n)]
    return x

In [ ]:
rangefun(10)

In [ ]:
next(range(4))

In [ ]:
r = iter(range(4))

In [ ]:
next(r)

In [ ]:
next(r)

In [ ]:
next(r)

In [ ]:
next(r)

In [ ]:
next(r)

In [ ]:
def rangefun(n):
    x = [i*i for i in range(n)]
    yield x

In [ ]:
rangefun(4)

# Fibonacci Series

In [ ]:
def gen_fib(n):
    a = 1
    b = 1
    l = []
    for i in range(n):
        l.append(i)
        a,b = b, a+b
    return(l)

In [ ]:
gen_fib(9)

In [2]:
def gen_fib1(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b, a+b

In [3]:
gen_fib1(10)

In [4]:
for i in gen_fib1(100):
    print(i)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026
354224848179261915075

# File Operations

In [16]:
file = open("name.txt", 'w+')

In [20]:
file.write("This is my very first file operation.")

ValueError: I/O operation on closed file.

In [18]:
file.close()

In [19]:
ls

 Volume in drive C is OS
 Volume Serial Number is 72B4-92D3

 Directory of C:\Users\harsh

06-09-2022  19:43    <DIR>          .
06-09-2022  19:43    <DIR>          ..
19-12-2020  09:57    <DIR>          .android
03-03-2022  14:43    <DIR>          .astropy
03-08-2022  15:09    <DIR>          .conda
03-08-2022  12:30                43 .condarc
08-08-2022  20:28    <DIR>          .dotnet
15-08-2022  11:12                58 .gitconfig
02-09-2022  09:58    <DIR>          .ipynb_checkpoints
03-03-2022  13:11    <DIR>          .ipython
03-03-2022  15:22    <DIR>          .jupyter
04-02-2022  11:21    <DIR>          .keras
04-02-2022  11:21    <DIR>          .matplotlib
08-08-2022  20:33    <DIR>          .templateengine
03-03-2022  15:10    <DIR>          .vscode
31-08-2022  10:27             8,927 12th June - Exception Handling.ipynb
06-09-2022  19:43            16,453 18th June - Iterator,Generator, map, reduce, filter, basic file operation.ipynb
11-08-2022  10:45            29,353 28th May - Loops.ipynb
19-08-2022  13:24            16,056 29th May - While Loop.ipynb
26-10-2020  18:44    <DIR>          3D Objects
28-08-2022  20:07           107,073 4th June - Revision Class.ipynb
19-08-2022  17:19             2,887 4th June- Revision Class_my file.ipynb
29-08-2022  19:40            19,652 5th June - Function.ipynb
03-03-2022  15:14    <DIR>          anaconda3
23-10-2020  21:09    <DIR>          ansel
29-07-2022  20:52            48,068 Attribute DataSet.xlsx
29-07-2022  20:23            44,667 AttributeDataSet.csv
22-02-2022  11:15                 0 Chrome.exe
26-10-2020  18:44    <DIR>          Contacts
08-08-2022  20:26    <DIR>          Documents
06-09-2022  16:36    <DIR>          Downloads
26-10-2020  18:44    <DIR>          Favorites
28-08-2022  15:39             7,008 Hello.mp3
28-08-2022  15:41             6,240 Hellw.mp3
07-05-2022  10:26    <DIR>          IBA_IOAPDATA
26-10-2020  18:44    <DIR>          Links
25-08-2021  17:35    <DIR>          Music
06-09-2022  19:44                37 name.txt
09-08-2021  06:49    <DIR>          OneDrive
29-07-2022  20:22            91,733 pandas basic.ipynb
07-08-2022  00:23             8,169 Pandas_Lecture_1.ipynb
15-08-2022  10:51    <DIR>          PycharmProjects
26-10-2020  18:44    <DIR>          Saved Games
26-10-2020  18:44    <DIR>          Searches
08-08-2022  20:34    <DIR>          source
05-09-2022  23:17    <DIR>          Tracing
04-08-2022  11:26    <DIR>          Untitled Folder
04-08-2022  11:27    <DIR>          Untitled Folder 1
31-07-2022  13:28            12,313 Untitled.ipynb
03-08-2022  13:36             3,024 Untitled1.ipynb
05-08-2022  16:47            54,882 Untitled2.ipynb
07-08-2022  13:51             8,034 Untitled3.ipynb
07-08-2022  11:13             1,019 Untitled4.ipynb
09-08-2022  11:28               555 Untitled5.ipynb
16-08-2022  20:33               555 Untitled6.ipynb
30-08-2022  10:07                72 Untitled7.ipynb
06-09-2022  19:28    <DIR>          Videos
              25 File(s)        486,878 bytes
              32 Dir(s)  58,128,396,288 bytes free

In [21]:
file = open("name.txt", "w")

In [22]:
file.write("This my class about doing file operations, its my FSDS class")

60

In [23]:
file.close()

In [9]:
l = [1,21,12,32,12,342,1232,53442,464,43]

In [10]:
f2 = open("list.txt","w")

In [12]:
f2.write(str(l))

46

In [13]:
ls

 Volume in drive C is OS
 Volume Serial Number is 72B4-92D3

 Directory of C:\Users\harsh

07-09-2022  12:03    <DIR>          .
07-09-2022  12:03    <DIR>          ..
19-12-2020  09:57    <DIR>          .android
03-03-2022  14:43    <DIR>          .astropy
03-08-2022  15:09    <DIR>          .conda
03-08-2022  12:30                43 .condarc
08-08-2022  20:28    <DIR>          .dotnet
15-08-2022  11:12                58 .gitconfig
02-09-2022  09:58    <DIR>          .ipynb_checkpoints
03-03-2022  13:11    <DIR>          .ipython
03-03-2022  15:22    <DIR>          .jupyter
04-02-2022  11:21    <DIR>          .keras
04-02-2022  11:21    <DIR>          .matplotlib
08-08-2022  20:33    <DIR>          .templateengine
03-03-2022  15:10    <DIR>          .vscode
31-08-2022  10:27             8,927 12th June - Exception Handling.ipynb
07-09-2022  12:03            18,505 18th June - Iterator,Generator, map, reduce, filter, basic file operation.ipynb
11-08-2022  10:45            29,353 28th May - Loops.ipynb
19-08-2022  13:24            16,056 29th May - While Loop.ipynb
26-10-2020  18:44    <DIR>          3D Objects
28-08-2022  20:07           107,073 4th June - Revision Class.ipynb
19-08-2022  17:19             2,887 4th June- Revision Class_my file.ipynb
29-08-2022  19:40            19,652 5th June - Function.ipynb
03-03-2022  15:14    <DIR>          anaconda3
23-10-2020  21:09    <DIR>          ansel
29-07-2022  20:52            48,068 Attribute DataSet.xlsx
29-07-2022  20:23            44,667 AttributeDataSet.csv
22-02-2022  11:15                 0 Chrome.exe
26-10-2020  18:44    <DIR>          Contacts
08-08-2022  20:26    <DIR>          Documents
07-09-2022  11:42    <DIR>          Downloads
26-10-2020  18:44    <DIR>          Favorites
28-08-2022  15:39             7,008 Hello.mp3
28-08-2022  15:41             6,240 Hellw.mp3
07-05-2022  10:26    <DIR>          IBA_IOAPDATA
26-10-2020  18:44    <DIR>          Links
07-09-2022  12:04                 0 list.txt
25-08-2021  17:35    <DIR>          Music
06-09-2022  19:51                60 name.txt
09-08-2021  06:49    <DIR>          OneDrive
29-07-2022  20:22            91,733 pandas basic.ipynb
07-08-2022  00:23             8,169 Pandas_Lecture_1.ipynb
15-08-2022  10:51    <DIR>          PycharmProjects
26-10-2020  18:44    <DIR>          Saved Games
26-10-2020  18:44    <DIR>          Searches
08-08-2022  20:34    <DIR>          source
05-09-2022  23:17    <DIR>          Tracing
04-08-2022  11:26    <DIR>          Untitled Folder
04-08-2022  11:27    <DIR>          Untitled Folder 1
31-07-2022  13:28            12,313 Untitled.ipynb
03-08-2022  13:36             3,024 Untitled1.ipynb
05-08-2022  16:47            54,882 Untitled2.ipynb
07-08-2022  13:51             8,034 Untitled3.ipynb
07-08-2022  11:13             1,019 Untitled4.ipynb
09-08-2022  11:28               555 Untitled5.ipynb
16-08-2022  20:33               555 Untitled6.ipynb
30-08-2022  10:07                72 Untitled7.ipynb
07-09-2022  11:22    <DIR>          Videos
              26 File(s)        488,953 bytes
              32 Dir(s)  57,455,312,896 bytes free

In [15]:
f2.close()

In [16]:
f3 = open("text.harsh","w")
f3.write("Mein name ist Clemens")
f3.close()

In [18]:
%%writefile testdirect.txt
This is another way writing a file using file operations
asjdkhfas
askdfjhaksjdfh
jgiosoo
harsh

Overwriting testdirect.txt

In [20]:
f4 = open("testdirect.txt")

In [21]:
f4.read()

'This is another way writing a file using file operations\nasjdkhfas\naskdfjhaksjdfh\njgiosoo\nharsh\n'

In [22]:
f4.read()

''

In [24]:
f4.seek(0)

0

In [25]:
f4.read()

'This is another way writing a file using file operations\nasjdkhfas\naskdfjhaksjdfh\njgiosoo\nharsh\n'

In [26]:
f4.seek(10)

10

In [27]:
f4.read()

'other way writing a file using file operations\nasjdkhfas\naskdfjhaksjdfh\njgiosoo\nharsh\n'

In [29]:
f4 = open("testdirect.txt")

In [31]:
f4.tell()

0

In [33]:
f4.read()

'This is another way writing a file using file operations\nasjdkhfas\naskdfjhaksjdfh\njgiosoo\nharsh\n'

In [34]:
f4.tell()

101

In [35]:
f4.seek(6)

6

In [36]:
f4.tell()

6

In [37]:
f4.read()

's another way writing a file using file operations\nasjdkhfas\naskdfjhaksjdfh\njgiosoo\nharsh\n'

In [38]:
f4.read()

''

In [42]:
f4.read(15)

''

In [44]:
f4.seek(5)

5

In [45]:
f4.read(15)

'is another way '

In [46]:
f4.seek(2)

2

In [47]:
f4.read(15)

'is is another w'

In [48]:
 f3 = open("testdirect.txt")

In [49]:
f3.seek(0)

0

In [50]:
f3.readline()

'This is another way writing a file using file operations\n'

In [51]:
f3.readlines()

['asjdkhfas\n', 'askdfjhaksjdfh\n', 'jgiosoo\n', 'harsh\n']

In [52]:
f3.readlines()

[]

In [53]:
f3.seek(0)

0

In [54]:
 f3.readlines()

['This is another way writing a file using file operations\n',
 'asjdkhfas\n',
 'askdfjhaksjdfh\n',
 'jgiosoo\n',
 'harsh\n']

In [55]:
f3.seek(2)

2

In [56]:
f3.readlines()

['is is another way writing a file using file operations\n',
 'asjdkhfas\n',
 'askdfjhaksjdfh\n',
 'jgiosoo\n',
 'harsh\n']

In [58]:
f3.fileno()

5

In [91]:
f = open("test6.txt","w")

In [92]:
f.write("""my name is harsh
i come from nashik
i am a graduate in mech \n,""")

62

In [93]:
f.close()

In [94]:
f = open("test6.txt","a")

In [95]:
f.write("bhakd jfadljf ierowj")

20

In [96]:
f.close()

In [97]:
f.mode

'a'

In [98]:
f.closed

True

In [99]:
f.name

'test6.txt'

# map

In [100]:
l = [1,2,4,5,6,7]

In [101]:
l1 = []
for i in l:
    l1.append(i**2)

In [102]:
l1

[1, 4, 16, 25, 36, 49]

In [103]:
def sq(n):
    return n**2

In [104]:
map(sq,l)

In [106]:
list(map(sq,l))

[1, 4, 16, 25, 36, 49]

In [107]:
map(lambda x : x**2, l)

In [108]:
list(map(lambda x : x**2, l))

[1, 4, 16, 25, 36, 49]

In [109]:
l

[1, 2, 4, 5, 6, 7]

In [111]:
list(map(lambda x : str(x), l))

['1', '2', '4', '5', '6', '7']

In [114]:
# or
def str_x(n):
    return str(n)

In [115]:
list(map(str_x, l))

['1', '2', '4', '5', '6', '7']

In [118]:
# or
list(map(str, l))

['1', '2', '4', '5', '6', '7']

# reduce

In [119]:
from functools import reduce

In [120]:
l

[1, 2, 4, 5, 6, 7]

In [121]:
# give summation of entire list

In [122]:
sum(l)

25

In [123]:
reduce(lambda a,b : a+b , l)

25

In [124]:
reduce(lambda a,b : a*b,l)

1680

In [126]:
reduce(lambda a,b : a+b , l)

25

# filter

In [127]:
l1 = [1,2,3,4,5,6,7,8,9,10]

In [128]:
# filter out data that is just even nos.

In [136]:
filter(lambda x : x%2, l1)

In [137]:
list(filter(lambda x : x%2==0, l1))

[2, 4, 6, 8, 10]

In [140]:
def check_even(n):
    if n%2==0:
        return True

In [143]:
list(filter(check_even,l1))

[2, 4, 6, 8, 10]