In [1]:
mylist = [12,55,32.14,'Harsh','Tulika','Sandeep']

In [2]:
for i in mylist:
    print(i)

12
55
32.14
Harsh
Tulika
Sandeep

In [3]:
for i in mylist:
    pass

In [4]:
s = "harsh"
for i in s:
    print(i)

h
a
r
s
h

In [7]:
name = "Harsh Sunil Shinde"
for i in name:
    print(i)
else:
    print("\tName has ended")

H
a
r
s
h

S
u
n
i
l

S
h
i
n
d
e
	Name has ended

In [13]:
for i in name:
    if i=='z':
        break
    print(i)
else:
    print("Name printed",name)

SyntaxError: unexpected character after line continuation character (<ipython-input-13-c0e6570c7d04>, line 6)

In [14]:
tup = (21,44,32,55,65,3.65,"Harsh")
for i in tup:
    print(i)

21
44
32
55
65
3.65
Harsh

In [16]:
myset = {21,44,32,55,21,55,65,3.65,"Harsh"}

In [17]:
for i in myset:
    print(i)

32
65
Harsh
3.65
44
21
55

In [20]:
d = {'name':"Harsh", 'last':"Shinde", 'age':23, 'city':"Nashik"}

In [21]:
for i in d:
    print(i)

name
last
age
city

In [22]:
d['name']

'Harsh'

In [23]:
d['last']

'Shinde'

In [24]:
d['age']

23

In [25]:
d['city']

'Nashik'

In [26]:
for i in d:
    print(d[i])

Harsh
Shinde
23
Nashik

In [29]:
for i in d:
    print(i, ':', d[i])

name : Harsh
last : Shinde
age : 23
city : Nashik

In [30]:
range(9)

range(0, 9)

In [40]:
l = list(range(9))

In [47]:
set(l)

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [48]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [49]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [57]:
list(range(20,0,-2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [55]:
list(range(90,9,-10))

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [58]:
n = 4 #we have to print 4 rows or lines
for i in range(4):  # it will go to 0,1,2,3       
    for j in range(0, i+1):
        print("Harsh", end =" ")
    print("\n")

Harsh

Harsh Harsh

Harsh Harsh Harsh

Harsh Harsh Harsh Harsh

In [66]:
n = 6
for i in range(n):
    for j in range(2, i+1):
        print("Harsh", end= "..")
    print("\n")

Harsh..

Harsh..Harsh..

Harsh..Harsh..Harsh..

Harsh..Harsh..Harsh..Harsh..

In [16]:
n = int(input())
for i in range(n):
    for j in range(i, n-1):     #.......to print spaces
        print("--", end = ".")
    for j in range(i+1):        #.......to print harsh
        print("harsh", end= ",")
    print()                     #.......for next line

4
--.--.--.harsh,
--.--.harsh,harsh,
--.harsh,harsh,harsh,
harsh,harsh,harsh,harsh,

In [20]:
n = int(input())
for i in range(n+1):
    print('   '*(n-i) + 'harsh '*i)

5

            harsh
         harsh harsh
      harsh harsh harsh
   harsh harsh harsh harsh
harsh harsh harsh harsh harsh

In [42]:
tup = (3,23,45,23,48.76,2,4,3)

In [43]:
for i in range(len(tup)):
    print(i,",", t[i])

0 , 3
1 , 23
2 , 45
3 , 23
4 , 48.76
5 , 2
6 , 4
7 , 3

In [44]:
len(tup)

8

In [46]:
range(len(tup))

range(0, 8)

In [97]:
list(range(len(tup)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [99]:
name = "ineuron"
range(len(name))

range(0, 7)

In [104]:
range(len(name),0,-1)

range(7, 0, -1)

In [113]:
name = input("Enter name: ")
for i in range(len(name)-1,-1,-1):
    print(i,'-', name[i])

Enter name: Harsh
4 - h
3 - s
2 - r
1 - a
0 - H

In [115]:
d = {'name':'Harsh', 'last':'Shinde', 'age':23, 'height':'180 cm'}

In [116]:
d.items()

dict_items([('name', 'Harsh'), ('last', 'Shinde'), ('age', 23), ('height', '180 cm')])

In [117]:
d.keys()

dict_keys(['name', 'last', 'age', 'height'])

In [118]:
d.values()

dict_values(['Harsh', 'Shinde', 23, '180 cm'])

In [121]:
for i in d.items():
    print(i, type(i), type(i[1]))

('name', 'Harsh') <class 'tuple'> <class 'str'>
('last', 'Shinde') <class 'tuple'> <class 'str'>
('age', 23) <class 'tuple'> <class 'int'>
('height', '180 cm') <class 'tuple'> <class 'str'>

In [122]:
l = [harsh','shinde',70304,'harshhinde2905',23.33,180]

In [138]:
lnum = []
for i in l:
    if type(i)== int or type(i)==float:
        print(i)
        lnum.append(i)

70304
23.33
180

In [135]:
lnum

[70304, 23.33, 180]

In [139]:
d

{'name': 'Harsh', 'last': 'Shinde', 'age': 23, 'height': '180 cm'}

In [154]:
d1 = {'name':'Harsh', 'last':'Shinde', 'age':23, 'height':'180 cm' , 122 : 311, 213 :'add'}

In [174]:
d1num = []
for i in d1:
    if type(d1[i]) == int or type(d1[i]) == float:
        print(i, '-', d1[i])

age - 23
122 - 311

In [167]:
d1num

[]

In [1]:
alp = "aaaaabbbbbccccsss"

In [6]:
for i in set(alp):
    print(i, ':', alp.count(i) )

s : 3
b : 5
a : 5
c : 4

{'a', 'b', 'c', 's'}

In [5]:
intt = 47382938784

In [9]:
for j in str(intt):
    print(int(j))
    print(type(j))

4
<class 'str'>
7
<class 'str'>
3
<class 'str'>
8
<class 'str'>
2
<class 'str'>
9
<class 'str'>
3
<class 'str'>
8
<class 'str'>
7
<class 'str'>
8
<class 'str'>
4
<class 'str'>

In [1]:
mytup = (9.21,33.4,"harsh",32,"shinde",[34,32,1,3],(1,12,3,43),{3:'val1','key2':'val2','key3':3})

In [2]:
mytup[6][2]

3

In [3]:
for i in mytup:
    print(i)

9.21
33.4
harsh
32
shinde
[34, 32, 1, 3]
(1, 12, 3, 43)
{3: 'val1', 'key2': 'val2', 'key3': 3}

In [6]:
for i in mytup:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i)== dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)
            
print("\ndone")

3
3
3
val1
key3
3

done

# ASSIGNMENT Practice

In [16]:
n = 4
for i in range(n):      # 0,1,2,3
    for j in range(0,i+1): # [(0,1), (0,2),(0,3),(0,4)]
        print("ineuron", end= " ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [20]:
n = 16
for i in range(n):
    for j in range(0, i+1):
        print("ineuron", end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

ineuron ineuron ineuron ineuron ineuron

ineuron ineuron ineuron ineuron ineuron ineuron

ineuron ineuron ineuron ineuron ineuron ineuron ineuron

ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron

ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron

ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron

ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron

ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron

ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron

ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron

ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron

ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron

In [24]:
n = 5
for i in range(n):
    for j in range(i,n-1):
        print("  ", end = " ")
    for j in range(i+1):
        print("ineuron", end = " ")
    print()

            ineuron
         ineuron ineuron
      ineuron ineuron ineuron
   ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron

In [ ]:
n = 3
for i in range(n):              # 0,1,2,3,4  
    for j in range(i,n):
        print("  ", end = " ")
    for j in range(i+1):
        print("ineuron", end=" ")
    print()
for i in range(n,i-1,-1):
    for j in range(n+2,i,-1):  # DONT KNOW WHAT I DID HERE! # i-1,i-n,-1
        print("  ", end = " ") #i-1,i-n,-1
    for j in range(i-1):
        print("ineuron", end=" ")
    print()

In [118]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar",
    3:6 , 7:8} , ["ineuron" , "data science "]]

23 1
4 1
5 1
45 1
4 1
4 1
5 1
45 1
45 1
4 1
5 1

# q1

In [119]:
for i in l:
    if type(i)== list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

# q2

In [120]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

# q3

In [121]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

# q4       EXTRACT REPEATED VALUES FROM SET

In [215]:
llist=[]
for i in l:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if type(j)==int or type(j)==float:
                print(j)
    if type(i)==set:
        for j in i:
            if type(j)==int or type(j)==float:
                print(j)
                llist.append(j)
    if type(i)==dict:
        for j in i:
            if type(j)==int or type(i)==float:
                print(j)
        for j in i.values():
                if type(j)==int or type(i)==float:
                    print(j)    
print() 
llist = llist.append(j)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
7
6
8

None

In [176]:
l1

{4, 5, 23, 45}

In [222]:
lset = [23,4,5,45,4,4,5,45,45,4,5]
l1 = {4, 5, 23, 45}
for i in l1:
    print(i,":",lset.count(i))

45 : 3
4 : 4
5 : 3
23 : 1