In [4]:
a = 1
b = 20

while a<=b:
    print(a)
    a = (a+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [7]:
a = 1
b = 10
while a<b:
    print(a)
    a = a+1
    if a == 8:
        break
    
else:
    print("Done")

1
2
3
4
5
6
7

In [1]:
a = 1
b = 10
while a < b:
    print(a)
    a = a+1
    if a == 3:
        continue

1
2
3
4
5
6
7
8
9

In [1]:
a = 1
b = 12
while a<b:
    print(a)
    if a==10:
        break
    a=a+1
else:
    print("complete")

1
2
3
4
5
6
7
8
9
10

In [1]:
 l = [1,2,3,4,5,34]

In [3]:
i = 0
while i < len(l):
    print(l[i])
    i = i+1

1
2
3
4
5
34

In [4]:
for i in l:
    print(i)

1
2
3
4
5
34

In [5]:
i = 0
while i<len(l):
    print(l[i])
    i+=1

1
2
3
4
5
34

In [8]:
t = (3,23,543,65,34,55,12,31)

In [9]:
i = 0
while i<len(t):
    if i == 6 or i == 7:
        print(t[i])
    i+=1

12
31

In [33]:
# EXTRACT INDEX OF 65 AND 34
t = (65,3,23,543,65,34,55,12,31,65)
i = 0
while i>-len(t):
    if t[i]==65 or t[i]==34:
        print(i)
    
    i-=1

0
-1
-5
-6

In [36]:
t = (65,3,23,543,65,34,55,12,31,65)
i = 0
while i <= len(t):
    if t[i]==65 or t[i]==34:
        print(i)
    if i == -len(t):
        break
    i-=1

0
-1
-5
-6
-10

In [8]:
d = {'name' : 'harsh', 'last' : 'shinde', 'age':23, 'place':'pune', 22 : 'age', 'k'
    :[1,2,3,4,5], 'l':(6,7,8,9,0)}

In [9]:
i = 0
a = list(d.keys())
while i<len(d):
    print(d[a[i]])
    i+=1

harsh
shinde
23
pune
age
[1, 2, 3, 4, 5]
(6, 7, 8, 9, 0)

In [10]:
a

['name', 'last', 'age', 'place', 22, 'k', 'l']

In [11]:
def test(de):
    print("This is my first function")

In [12]:
test()

TypeError: test() missing 1 required positional argument: 'de'

In [13]:
def test1():
    return "this is my first function"

In [14]:
test1()+" harsh"

'this is my first function harsh'

In [15]:
def test2():
    return 1,33,43,[12,44,32,54]

In [16]:
test2()

(1, 33, 43, [12, 44, 32, 54])

In [17]:
a, b, c = 10,21,34

In [18]:
a,b,c,d = test2()

In [19]:
test2()

(1, 33, 43, [12, 44, 32, 54])

In [20]:
a

1

In [21]:
b

33

In [22]:
def test3():
    a = 4*5
    b = 6+4
    return a,b

In [23]:
g = test3()

In [24]:
g

(20, 10)

In [25]:
_ , m = test3()

In [26]:
m

10

In [3]:
_

''

In [20]:
def test4(a,b):
    while a<b:
        print(a)
        a+=1
    else:
        return "Done"

In [21]:
type(test4(3,22))

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

str

In [23]:
# EXTRACT THE STR VALUE
l = [4,54,3,2,1,3,3,3,3,[23,12,33,43,2], "Harsh"]

In [24]:
# USING FOR LOOP

l1 = []
for i in l :
    if type(i)== int:
        l1.append(i)

In [25]:
l1

[4, 54, 3, 2, 1, 3, 3, 3, 3]

In [32]:
def test6():
    l1 = []
    for i in l :
        if type(i)== int:
            l1.append(i)
    return l1

In [33]:
test6()

[4, 54, 3, 2, 1, 3, 3, 3, 3]

In [39]:
n = 9
for i in range(n):
    for j in range(0,i+1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [42]:
n = 10
for i in range(n):
    for j in range(0, i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [1]:
n = 9
i = 0
while i<n:
    while i in range(0,n):
        print("*", end = " ")
        if i==9:
            break
        i +=1

* * * * * * * * *

##############################################################################################################################
Self practice below: Complete while loop

In [6]:
# 2 int inputs from user and print nos. between them

In [3]:
print("Enter Number 1: ")
a = int(input()) 
print("Enter Number 2: ")
b = int(input())
print()
while a<b:
    print(a)
    a+=1
else:
    print("Completed or Incorrect Input")

Enter Number 1:
4
Enter Number 2:
3

Completed or Incorrect Input