In [25]:
def test(a,b):
    '''this is my function for concatenation or addition''' # doc string (shift+tab)
    return a+b

In [26]:
test(2,8)

10

In [27]:
test('harsh',' shinde')

'harsh shinde'

In [28]:
test(b=56,a=23)

79

In [29]:
def test1(*a):  # *variable is a static, to take any number of inputs
    return a

In [30]:
test1(2,5,4,6,32,12,2)

(2, 5, 4, 6, 32, 12, 2)

In [32]:
def test5(*a):
    l=[]
    for i in a:
        l.append(i)
    return l

In [35]:
test5(32,543,6,4,6,43,64,[231,3,32,'asd']) #to append all 'n' input values into a list

[32, 543, 6, 4, 6, 43, 64, [231, 3, 32, 'asd']]

In [36]:
test5(3,24,5,21)

[3, 24, 5, 21]

In [37]:
def test6(a,b,c,d, *n):  #this function will store first four vallues then store all other values into a *n
    return (a,b,c,d,n)

In [38]:
test6(21,32,43,23,43,5,4,6,43,2)

(21, 32, 43, 23, (43, 5, 4, 6, 43, 2))

In [39]:
# but if you give a static variable first, it will take all the values and wont pass for other variable, and give error

def test7(*n,a,b,c,d):
    return n,a,b,c,d

In [42]:
test7(32,32131,43,54,6,a=53,b=23,c=32,d=2)

((32, 32131, 43, 54, 6), 53, 23, 32, 2)

In [50]:
def test8(**kwargs):
    return kwargs

In [53]:
test8(a = 'hasrh',b= 23, c=453, d=98)

{'a': 'hasrh', 'b': 23, 'c': 453, 'd': 98}

In [ ]:
d = {'a': 43, 'b': 23, 'c': 453, 'd': 98}

NameError: name 'd' is not defined

In [54]:
def test9(*m,**h):
    return m, h

In [55]:
test9(342,43,23,123,43,42,a=32,b=43,c='harsh')

((342, 43, 23, 123, 43, 42), {'a': 32, 'b': 43, 'c': 'harsh'})

In [63]:
def test10(*m):
    n=0
    j = 1
    for i in m:
        if type(i)==int:
            j = j*i
            n +=1
    return j, n

In [64]:
test10(12,32,12,11,112,3)

(17031168, 6)

# lambda

In [1]:
a = lambda x,y : x*y     # comprehension operation

In [2]:
a(17,9)

153

In [3]:
def test_func(x,y):      # Normal way
    return x*y

In [4]:
test_func(17,9)

153

In [5]:
b = lambda *harsh : harsh

In [6]:
b(12,34,87,98,65,4)

(12, 34, 87, 98, 65, 4)

In [12]:
tupl=(12, 34, 87, 98, 65, 4) #convert to list normal way
l=[]
for i in tupl:
    l.append(i)

In [13]:
l

[12, 34, 87, 98, 65, 4]

In [14]:
tupl=(12, 34, 87, 98, 65, 4) #convert to list comprehension op.

In [17]:
q = [i for i in tupl]

In [18]:
q

[12, 34, 87, 98, 65, 4]

In [21]:
name = 'Harsh Shinde'

In [22]:
[i for i in name]

['H', 'a', 'r', 's', 'h', ' ', 'S', 'h', 'i', 'n', 'd', 'e']

In [29]:
for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [30]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
l = []
for i in range(1,11):
    l.append(i*i)

In [33]:
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [44]:
l = lambda *x : [i*i for i in x]

In [45]:
l(12,32,1,12,3,25,432)

[144, 1024, 1, 144, 9, 625, 186624]

In [89]:
test14(a = 7, b="harsh" , c="har1", d=[2,1,32,"harsh","brrew",'sd'])

5

In [90]:
def test14(**kwargs):
    count = 0
    for i in kwargs.values():
        if type(i)==str:
            count+=1
        if type(i)==list:
            for j in i:
                if type(j)==str:
                    count+=1
    return count

In [91]:
test14(a = 7, b="harsh" , c="har1", d=[2,1,32,"harsh"])

3

# Practice Questions

In [129]:
n=1000
m=1
count = 0
for i in range(m,n+1):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                count+=1
                break
        else:
            print(i)
            count+=1
return count

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

SyntaxError: 'return' outside function (<ipython-input-129-85651c155fac>, line 13)

In [130]:
def testfun(x,y):
    return x+y

In [131]:
testfun(12,4444)

4456

In [133]:
# replica of list append is comprehension function

tupled = (12,32,1,22,"Harsh",1,'sh')
[i for i in tupled]

[12, 32, 1, 22, 'Harsh', 1, 'sh']

In [143]:
a = lambda *b : [i+i for i in b]

In [144]:
a('ahrsh','shinde','is','22 years')

['ahrshahrsh', 'shindeshinde', 'isis', '22 years22 years']

In [ ]:
w = range(1,100)

In [148]:
summ = lambda w range(1,100): [i+i for i in w]

SyntaxError: invalid syntax (<ipython-input-148-159445b41ab0>, line 1)

In [149]:
summ(12,22,32,10)

[24, 44, 64, 20]